<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
  <title>Test Main</title>

  <link rel="stylesheet" th:href="@{~/css/custom.css}" />
</head>
<body>
<div class="row"   layout:fragment="content">
  <div class="container-mainx  mt-5 " >
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1" style="font-size: 16px; color:grey;">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);" style="color:grey;">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);" style="color:grey;">Fondasi Agama</a>
          </li>
          <li class="breadcrumb-item active" style="color:grey;">Lorem ipsum dolor sit amet</li>
        </ol>
      </nav>
    </div>
    <div class="row mb-3">
      <h2 class="pb-1 mt-1 mb-3" style="font-size: 40px;"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttito</b></h2>
      <p class="pb-1 mt-3 mb-2" style="font-size: 16px;">
        20 November 2022</p>
    </div>

  <div class="row">
<!--  style="position: relative;"  -->
  <div class="col-lg-8 ">
    <div class="col-md-12 mb-5" >
        <div class="card roundx-front" style="height:130%;">
            <img class="card-img-top  align-items-center"  th:src="@{~/img/masjid1.png}" alt="Card image cap"/>
            <h4 class="p-3 "style="position: absolute; top: 320px;left: 16px;right: 120px;color:white;">
              <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttito</b></h4>

          <div class="card-body mx-3">
            <h3 class="card-title mt-3" >Lorem ips um dolor sit amet consectetur</h3>
            <p class="card-text" style="line-height: 1.7;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat leo nec pellentesque porta.
              Pellentesque ultrices faucibus ex sed ullamcorper. Nullam mollis mi mauris, ut laoreet mi placerat quis.
              Duis ultricies est et efficitur rhoncus. Aliquam at viverra nulla. Nunc non tellus quis dui convallis tincidunt.
              Aenean gravida nunc quis laoreet iaculis. Cras mollis rutrum ex, id sollicitudin quam dignissim quis. Sed et gravida sapien.
              Praesent id ultricies metus, vitae fringilla eros. Quisque quis est ex. Curabitur sollicitudin congue lectus porta fringilla.
              Integer pulvinar quam vel leo euismod dignissim. Nulla facilisi.
            </p><p class="card-text">
              1. Pengantar Al-Fatihah
            </p>
            <img class="img-fluid  align-items-center mb-2"  th:src="@{~/img/fatihah.png}" alt="Card image cap"/>
            <p class="card-text" style="line-height: 1.7;">
              Ila hadrotin nabiyi Shollallahu 'alaihi wasallam, wa alihi wa ikhwanihi minal anbiyaai wal mursaliin wal
              awliyaai wasyuhadaai washoolihiina washohaabati wattabi'iina wa al 'ulamaai al aamiliin wal mushonnifiina
              al mukhlisiina wa jamii'il malaaikatil muqarrabiin, Tsumma ila jami'i ahlil kubur minal muslimiina wal
              muslimaati walmukminiina wal mukminaati min masyaariqil ardhi ila maghoo ribiha barriha wa bahriha,
              khushushon ilaa abaainaa wa ummahaatiba wa jdaadanaa wa haddaarina wa masyaayikhonaa wa masyaayikhina wa
              limanijtama'na hahuna bisababihi syaiun lillaahi lahumul fatihah
            </p>
            <h5 class="card-title mt-4 mb-4" >Lorem ips um dolor sit amet consectetur</h5>
            <p class="card-text" style="line-height: 1.7;">
              Maecenas lectus nisl, porttitor sed efficitur vitae, maximus eu dui. Maecenas posuere orci facilisis
              nulla tempor condimentum. Sed tristique lorem dolor, pellentesque laoreet neque viverra vulputate.
              Phasellus accumsan hendrerit mollis. In a eros turpis. Vestibulum ut porta nisi. Nulla congue dignissim posuere.
              Maecenas volutpat ullamcorper consectetur. Sed non dolor diam. Quisque auctor lectus vitae risus iaculis,
              vitae vulputate erat condimentum. Sed libero nisi, tempus et nulla rutrum, pretium feugiat lorem.
              Aenean ac mi ut turpis mattis feugiat a vitae ligula. Etiam finibus efficitur tellus, vel imperdiet eros rutrum ac.
              Sed sit amet facilisis odio Baca juga untuk artikel terkait
            </p>
            <h5 class="card-title mt-4 mb-4" >Lorem ips um dolor sit amet consectetur</h5>
            <p class="card-text" style="line-height: 1.7;">
              Maecenas lectus nisl, porttitor sed efficitur vitae, maximus eu dui. Maecenas posuere orci facilisis nulla
              tempor condimentum. Sed tristique lorem dolor, pellentesque laoreet neque viverra vulputate.
              Phasellus accumsan hendrerit mollis. In a eros turpis. Vestibulum ut porta nisi. Nulla congue dignissim posuere.
              Maecenas volutpat ullamcorper consectetur. Sed non dolor diam. Quisque auctor
            </p>
            <p class="card-text mx-2" style="line-height: 1.7;"><b>
              - Maecenas lectus nisl, porttitor sed efficitur vitae, maximus eu dui<br>
              - Maecenas lectus nisl, porttitor sed<br>
              - Maecenas lectus nisl, porttitor sed efficitur vitae,<br>
              - Maecenas lectus nislaja
            </b></p>
            <p class="card-text mb-3" style="line-height: 1.7;">
              Maecenas lectus nisl, porttitor sed efficitur vitae, maximus eu dui. Maecenas posuere orci facilisis nulla
              tempor condimentum. Sed tristique lorem dolor, pellentesque laoreet neque viverra vulputate.
              Phasellus accumsan hendrerit mollis. In a eros turpis. Vestibulum ut porta nisi. Nulla congue dignissim posuere.
            </p>
            <div class="row mb-4">
              <div class="col-6">
                <button type="button" class="btn btn-sm btn-warning my-3">Belajar Islam</button>
                <button type="button" class="btn btn-sm btn-warning my-3">Pernikahan</button>
                <button type="button" class="btn btn-sm btn-warning my-3">Fiqih</button>
              </div>
              <div class="col-6">
                <p  class="mb-0 p-2 " style="font-size: 20px;text-align:right;">
                  Bagikan
                  <span>
                    <img class="img-fluid  p-2 " th:src="@{~/img/whatsappz.png}" alt="Card image" />
                    <img class="img-fluid  p-2 " th:src="@{~/img/twitterz.png}" alt="Card image" />
                    <img class="img-fluid  p-2 " th:src="@{~/img/facebookz.png}" alt="Card image" />
                    <img class="img-fluid  p-2 " th:src="@{~/img/messengerz.png}" alt="Card image" />
                  </span>
                </p>
              </div>
            </div>

            <img class="img-fluid  align-items-center mb-5 "  th:src="@{~/img/smile_icon.png}" alt="Card image cap"/>
          </div>
          <div class="card roundx-front p-2" style="background-color: rgba(245, 199, 97, 0.2);height:100px;">
            <a class="mx-2" href="javascript:void(0)" style="position: absolute;bottom: 30px;">
              <span style="color:grey;font-size:14px;">Artikel Sebelumnya</span><br>
              <span style="color:black;font-size:14px;">Lorem ips um dolor sit amet consectetur</span>
            </a>
            <a class="mx-2" href="javascript:void(0)" style="position: absolute;left:100x;right:20px;bottom: 30px;text-align:right;">
              <span style="color:grey;font-size:14px;">Artikel Sebelumnya</span><br>
              <span style="color:black;font-size:14px;">Lorem ips um dolor sit amet consectetur</span>
            </a>
          <!-- text-align: left; -->
          </div>
        </div>
      </div>
  </div>

  <div class="col-lg-4 px-4" >
    <!--/ Horizontal float-left pull-left  pb-1 mb-4  style="height: 10%"  -->
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-5">
              <img class="img-fluid d-flex align-items-center mx-4 my-3 roundx-profil" th:src="@{~/img/profil2.png}" alt="Card image" />
            </div>
            <div class="col-md-7 ">
              <p  class="mb-0 mt-2 p-2" style="font-size: 15px;"><b>Abdul Aziz </b></p>
              <p  class="mb-0 p-2" style="font-size: 12px;">
                Pengasuh Pondok Pesantren Roudhotut Tholibin, Gresik<br>
                <span>
                    <img class="img-fluid  p-2 " th:src="@{~/img/facebooka.png}" alt="Card image" />
                    <img class="img-fluid  p-2 " th:src="@{~/img/instagrama.png}" alt="Card image" />
                    <img class="img-fluid  p-2 " th:src="@{~/img/youtubea.png}" alt="Card image" />
                  </span>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 class=" mt-2">Artikel Terkait</h4>
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-6">
              <img class="img-fluid d-flex align-items-center p-2 roundx-mini" th:src="@{~/img/gambar1.png}" alt="Card image" />
            </div>
            <div class="col-md-6 ">
              <p  class="mb-0 p-2" style="font-size: 12px;">
                Lorem ipsum dolor sit ametsi consectetur adipiscing elit. Praesent volutpat
                <span class="text-muted"style="font-size: 10px;"><br> <br>11 Mei 2022 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-6">
              <img class="img-fluid d-flex align-items-center p-2 roundx-mini" th:src="@{~/img/gambar2.png}" alt="Card image" />
            </div>
            <div class="col-md-6 ">
              <p  class="mb-0 p-2" style="font-size: 12px;">
                TLorem ipsum dolor sit ametsi consectetur adipiscing elit. Praesent volutpat
                <span class="text-muted"style="font-size: 10px;"><br> <br>11 Mei 2022 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-6">
              <img class="img-fluid d-flex align-items-center p-2 roundx-mini" th:src="@{~/img/gambar3.png}" alt="Card image" />
            </div>
            <div class="col-md-6 ">
              <p  class="mb-0 p-2" style="font-size: 12px;">
                Lorem ipsum dolor sit ametsi consectetur adipiscing elit. Praesent volutpat
                <span class="text-muted"style="font-size: 10px;"><br> <br>11 Mei 2022 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-6">
              <img class="img-fluid d-flex align-items-center p-2 roundx-mini" th:src="@{~/img/gambar1.png}" alt="Card image" />
            </div>
            <div class="col-md-6 ">
              <p  class="text mb-0 p-2" style="font-size: 12px;">
                Lorem ipsum dolor sit ametsi consectetur adipiscing elit. Praesent volutpat
                <span class="text-muted"style="font-size: 10px;"><br> <br>11 Mei 2022 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-6">
              <img class="img-fluid d-flex align-items-center p-2 roundx-mini" th:src="@{~/img/gambar1.png}" alt="Card image" />
            </div>
            <div class="col-md-6 ">
              <p  class="mb-0 p-2" style="font-size: 12px;">
                Lorem ipsum dolor sit ametsi consectetur adipiscing elit. Praesent volutpat
                <span class="text-muted"style="font-size: 10px;"><br> <br>11 Mei 2022 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-6">
              <img class="img-fluid d-flex align-items-center p-2 roundx-mini" th:src="@{~/img/gambar2.png}" alt="Card image" />
            </div>
            <div class="col-md-6 ">
              <p  class="mb-0 p-2" style="font-size: 12px;">
                Lorem ipsum dolor sit ametsi consectetur adipiscing elit. Praesent volutpat
                <span class="text-muted"style="font-size: 10px;"><br> <br>11 Mei 2022 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-6">
              <img class="img-fluid d-flex align-items-center p-2 roundx-mini" th:src="@{~/img/gambar3.png}" alt="Card image" />
            </div>
            <div class="col-md-6 ">
              <p  class="mb-0 p-2" style="font-size: 12px;">
                Lorem ipsum dolor sit ametsi consectetur adipiscing elit. Praesent volutpat
                <span class="text-muted"style="font-size: 10px;"><br> <br>11 Mei 2022 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md">
        <div class="card mb-2 roundx-mini">
          <div class="row g-0">
            <div class="col-md-6">
              <img class="img-fluid d-flex align-items-center p-2 roundx-mini" th:src="@{~/img/gambar1.png}" alt="Card image" />
            </div>
            <div class="col-md-6 ">
              <p  class="text mb-0 p-2" style="font-size: 12px;">
                Lorem ipsum dolor sit ametsi consectetur adipiscing elit. Praesent volutpat
                <span class="text-muted"style="font-size: 10px;"><br> <br>11 Mei 2022 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
    <!-- end row -->
  </div>

  <div class="row-lg-12 mb-5"></div>

  <!-- !6 Product !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
  <div class="row ">
    <div class="col-14 "  >
      <h1 class="fw-bold mb-5" style="text-align: center;"><b>Produk</b> </h1></div>
  </div>
  <div class="row"></div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="row">
      <div class="col-12">
      <div id="swiper-gallery">

        <div class="swiper gallery-top" style="height:50px;">
          <div class="swiper-wrapper">
            <div class="swiper-slide"  >
            </div>
            <div class="swiper-slide" >
            </div>
            <div class="swiper-slide" >
            </div>
            <div class="swiper-slide"  >
            </div>
            <div class="swiper-slide"  >
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-black"></div>
          <div class="swiper-button-prev swiper-button-black"></div>
        </div>

        <div class="swiper gallery-thumbs"style="height:400px;">
          <div class="swiper-wrapper" >
            <div class="swiper-slide" >
              <img class="img-fluid  align-items-top p-2" style="border-radius: 30px;vertical-align:top;height:250px;"
                   th:src="@{~/img/sarung_produk_1.png}" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text"style="color :black;font-size:15px;">
                  Sarung mangga songket hitam
                </p>
                <h5 class="card-title" style="color:rgba(245, 199, 97, 1);font-size:25px;"><p>Lihat Produk</p></h5>
              </div>
            </div>
            <div class="swiper-slide" >
              <img class="img-fluid  align-items-top p-2" style="border-radius: 30px;vertical-align:top;height:250px;"
                   th:src="@{~/img/sarung_produk_1.png}" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text"style="color :black;font-size:15px;">
                  Sarung mangga songket hitam
                </p>
                <h5 class="card-title" style="color:rgba(245, 199, 97, 1);font-size:25px;"><p>Lihat Produk</p></h5>
              </div>
            </div>
            <div class="swiper-slide" >
              <img class="img-fluid  align-items-top p-2" style="border-radius: 30px;vertical-align:top;height:250px;"
                   th:src="@{~/img/sarung_produk_1.png}" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text"style="color :black;font-size:15px;">
                  Sarung mangga songket hitam
                </p>
                <h5 class="card-title" style="color:rgba(245, 199, 97, 1);font-size:25px;"><p>Lihat Produk</p></h5>
              </div>
            </div>
            <div class="swiper-slide" >
              <img class="img-fluid  align-items-top p-2" style="border-radius: 30px;vertical-align:top;height:250px;"
                   th:src="@{~/img/sarung_produk_1.png}" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text"style="color :black;font-size:15px;">
                  Sarung mangga songket hitam
                </p>
                <h5 class="card-title" style="color:rgba(245, 199, 97, 1);font-size:25px;"><p>Lihat Produk</p></h5>
              </div>
            </div>
            <div class="swiper-slide" >
              <img class="img-fluid  align-items-top p-2" style="border-radius: 30px;vertical-align:top;height:250px;"
                   th:src="@{~/img/sarung_produk_1.png}" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text"style="color :black;font-size:15px;">
                  Sarung mangga songket hitam
                </p>
                <h5 class="card-title" style="color:rgba(245, 199, 97, 1);font-size:25px;"><p>Lihat Produk</p></h5>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>

    <div class="row-lg-12 mb-5">&nbsp;</div>

  <!-- container -->
</div>
</div>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


</body>
</html>