<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
  <title>Test Main</title>

  <link rel="stylesheet" th:href="@{~/css/custom.css}" />
</head>
<body>
<!--<div class="row mb-2" layout:fragment="breadcrumb">-->
<div class="row"   layout:fragment="content">
  <!-- !1 container 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <div class="container-productx  mt-3 " >
    <div class="row">
      <div class="col-14 mb-5"  >
        <h1 class="fw-bold mb-2" style="text-align: center;"><b>Produk</b> </h1>
        <h3 class="" style="text-align: center;">Bangga Bersarung Mangga</h3>
    </div>
    </div>
    <div class="row mb-3">&nbsp;</div>
    <div class="row ">
      <div class="col-4">
        <h2 class="fw-bold mb-4" ><b>Kategori</b> </h2>
        <div class="form-check form-check-warning my-4 ">
          <input class="form-check-input largecheckbox " type="checkbox" value="" id="check1"   />
          <label class="form-check-label fontcheck mx-3" for="check1"> Semua </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input checked class="form-check-input  largecheckbox " type="checkbox" value="" id="check2"  />
          <label class="form-check-label fontcheck mx-3" for="check2"> Jacquard </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input  largecheckbox " type="checkbox" value="" id="check3"  />
          <label class="form-check-label fontcheck mx-3" for="check3"> Classy </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input largecheckbox " type="checkbox" value="" id="check4"  />
          <label class="form-check-label fontcheck mx-3" for="check4"> Songket </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input  largecheckbox " type="checkbox" value="" id="check5"  />
          <label class="form-check-label fontcheck mx-3" for="check5"> Diamond Kembang </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input largecheckbox " type="checkbox" value="" id="check6"  />
          <label class="form-check-label fontcheck mx-3" for="check6"> Gold kembang </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input  largecheckbox " type="checkbox" value="" id="check7"  />
          <label class="form-check-label fontcheck mx-3" for="check7"> Jacquard </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input  largecheckbox " type="checkbox" value="" id="check8"  />
          <label class="form-check-label fontcheck mx-3" for="check8"> Classy </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input largecheckbox " type="checkbox" value="" id="check9"  />
          <label class="form-check-label fontcheck mx-3" for="check9"> Songket </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input  largecheckbox " type="checkbox" value="" id="check10"  />
          <label class="form-check-label fontcheck mx-3" for="check10"> Diamond Kembang </label>
        </div>
        <div class="form-check form-check-warning my-4">
          <input class="form-check-input largecheckbox " type="checkbox" value="" id="check10"  />
          <label class="form-check-label fontcheck mx-3" for="check10"> Gold kembang </label>
        </div>

      </div>

      <div class="col-8">
        <div class="row mb-5">
          <div class="col-4 " >
          <div class="card roundx-normal">
            <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_1.png}" alt="Card image cap" />
            <div class="p-2">
              <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
              <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                              style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
              </p>
            </div>
          </div>
        </div>
          <div class="col-4 " >
          <div class="card roundx-normal">
            <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_2.png}" alt="Card image cap" />
            <div class="p-2">
              <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
              <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                                style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
              </p>
            </div>
          </div>
        </div>
          <div class="col-4 " >
          <div class="card roundx-normal">
            <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_3.png}" alt="Card image cap" />
            <div class="p-2">
              <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
              <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                                style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
              </p>
            </div>
          </div>
        </div>
        </div>
        <div class="row mb-5 mt-1">
          <div class="col-4 " >
            <div class="card roundx-normal">
              <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_1.png}" alt="Card image cap" />
              <div class="p-2">
                <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
                <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                                               style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 " >
            <div class="card roundx-normal">
              <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_2.png}" alt="Card image cap" />
              <div class="p-2">
                <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
                <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                                               style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 " >
            <div class="card roundx-normal">
              <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_3.png}" alt="Card image cap" />
              <div class="p-2">
                <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
                <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                                               style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5 mt-1">
          <div class="col-4 " >
            <div class="card roundx-normal">
              <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_1.png}" alt="Card image cap" />
              <div class="p-2">
                <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
                <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                                               style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 " >
            <div class="card roundx-normal">
              <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_2.png}" alt="Card image cap" />
              <div class="p-2">
                <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
                <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                                               style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4 " >
            <div class="card roundx-normal">
              <img class="card-img-top roundx-normal p-2"  th:src="@{~/img/sarung_produk_3.png}" alt="Card image cap" />
              <div class="p-2">
                <p class="card-text" style="text-align: center;">Sarung Mangga Songket Hitam</p>
                <p class="mb-0" style="text-align: center;"><a href="javascript:void(0);"
                                                               style="text-align: center;color:rgba(245, 199, 97, 1);">Lihat Produk</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
              <li class="page-item prev">
                <a class="page-link" href="javascript:void(0);"
                ><i class="ti ti-chevrons-left ti-xs"></i
                ></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">2</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0);">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">5</a>
              </li>
              <li class="page-item next">
                <a class="page-link" href="javascript:void(0);"
                ><i class="ti ti-chevrons-right ti-xs"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    <!-- end first row -->
  </div>
<!--
  <div class="row"></div>-->
    <div class="row-lg-12 mb-5">&nbsp;</div>
  <!-- container -->
  </div>
</div>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


</body>
</html>